<div class="content">
  <div class="search-div">
    <button mat-raised-button (click)="addDelivery()" class="btn-secondary">
      <mat-icon>add</mat-icon>
      Записаться
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" (keyup)="applyFilter()" placeholder="Поиск" autocomplete="off">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="resetFilter()" *ngIf="searchKey">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Поставки</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-table [dataSource]="dataSource" class="mat-elevation-z8 myStyle" matSort>
                <!-- # Column -->
                <ng-container matColumnDef="No">
                  <mat-header-cell *matHeaderCellDef>№<br>п/п</mat-header-cell>
                  <mat-cell *matCellDef="let i = index"> {{i + 1}}</mat-cell>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Номер<br>поставки</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id}}</mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="deliveryDate">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Дата</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.deliveryDate | date:'dd.MM.yyyy'}}</mat-cell>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="deliveryTime">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Время</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.deliveryTime.deliveryTime}}</mat-cell>
                </ng-container>

                <!-- Car Info Column -->
                <ng-container matColumnDef="carInfo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Авто</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.carInfo}}</mat-cell>
                </ng-container>

                <!-- Driver Column -->
                <ng-container matColumnDef="driverInfo">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Водитель</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.driverInfo}}</mat-cell>
                </ng-container>

                <!-- Brand Column -->
                <ng-container matColumnDef="brand">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Бренд</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.brand.name}}</mat-cell>
                </ng-container>

                <!-- Order Column -->
                <ng-container matColumnDef="orderNumber">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Заказ</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.orderNumber}}</mat-cell>
                </ng-container>

                <!-- Delivery Type Column -->
                <ng-container matColumnDef="deliveryType">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Тип<br>поставки</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.deliveryType.type}}</mat-cell>
                </ng-container>

                <!-- Sender Column -->
                <ng-container matColumnDef="sender">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Отпра-<br>витель</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.sender}}</mat-cell>
                </ng-container>

                <!-- Comment Column -->
                <ng-container matColumnDef="comment">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Коммен-<br>тарий</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.comment}}</mat-cell>
                </ng-container>

                <!-- Shop Column -->
                <ng-container matColumnDef="shop">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Магазин</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.shop.name}}</mat-cell>
                </ng-container>

                <!-- Places Column -->
                <ng-container matColumnDef="numberOfPlaces">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Кол-во<br>мест</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.numberOfPlaces}}</mat-cell>
                </ng-container>

                <!-- Torg Column -->
                <ng-container matColumnDef="torgNumber">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Торг</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.torgNumber}}</mat-cell>
                </ng-container>

                <!-- Invoice Column -->
                <ng-container matColumnDef="invoice">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Счет-фактура</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.invoice}}</mat-cell>
                </ng-container>

                <!-- Warehouse Column -->
                <ng-container matColumnDef="warehouse">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Склад</mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.warehouse.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="0">
                    Данные загружаются....
                  </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row (click)="editDelivery(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                <mat-footer-row *matFooterRowDef="['loading']"
                                [ngClass]="{'hide':dataSource!=null && dataSource.data.length!=0}"></mat-footer-row>
              </mat-table>
              <mat-paginator [pageSizeOptions]="[2, 3, 4, 5, 10]" [pageSize]="3" showFirstLastButtons></mat-paginator>
            </div>
            <button mat-raised-button color="primary" style="height: 40px; margin-top: 0.9rem" (click)="loadToExcel()">Сохранить в файл</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content">
  <div class="card">

    <div class="card-header card-header-primary" (paste)="data($event)">
      <h4 class="card-title ">Нажмите левой кнопкой мыши на эту надпись и вставьте Вашу excel таблицу (ctrl +
        v)</h4>
    </div>

    <form #copyPasteForm="ngForm" (ngSubmit)="copyPasteForm.form.valid" novalidate>
      <mat-card>
        <mat-card-content>
          <div class="card-body">
            <div class="table-responsive">
              <mat-table [dataSource]="pasteTableDataSource" class="myStyle">
                <ng-container matColumnDef="deliveryDate">
                  <mat-header-cell *matHeaderCellDef class="text-primary">
                    Дата
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <input matInput #deliveryDate="ngModel" name="deliveryDate{{rowIdx}}" placeholder="Дата"
                             [ngModel]="delivery.deliveryDate"
                             (ngModelChange)="delivery.deliveryDate = $event" [min]="todaysDate"
                             required [matDatepicker]="picker">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="deliveryDate?.invalid">
                        <div *ngIf="deliveryDate.errors.required">Укажите корректную дату</div>
                      </mat-error>

                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deliveryTime">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Время
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <mat-select [compareWith]="compareFn" matInput #deliveryTime="ngModel"
                                  name="deliveryTime{{rowIdx}}"
                                  placeholder="Время"
                                  [(ngModel)]="delivery.deliveryTime" required>
                        <mat-option *ngFor="let time of allTimes" [value]="time">{{time.deliveryTime}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="deliveryTime?.invalid">
                        <div *ngIf="deliveryTime.errors.required">Укажите корректное время</div>
                      </mat-error>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="carInfo">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Авто
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <input matInput #carInfo="ngModel" name="carInfo{{rowIdx}}" placeholder="Машина"
                             [(ngModel)]="delivery.carInfo" required>
                      <mat-error *ngIf="carInfo?.invalid">
                        <div *ngIf="carInfo.errors.required">Укажите номер и марку авто</div>
                      </mat-error>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="driverInfo">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Водитель
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <input matInput #driverInfo="ngModel" name="driverInfo{{rowIdx}}" placeholder="Водитель"
                             [(ngModel)]="delivery.driverInfo" required>
                      <mat-error *ngIf="driverInfo?.invalid">
                        <div *ngIf="driverInfo.errors.required">Укажите данные водителя</div>
                      </mat-error>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="brand">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Бренд
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <mat-select [compareWith]="compareFn" matInput #brand="ngModel" name="brand{{rowIdx}}"
                                  placeholder="Время"
                                  [(ngModel)]="delivery.brand" required>
                        <mat-option *ngFor="let brand of allBrands" [value]="brand">{{brand.name}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="brand?.invalid">
                        <div *ngIf="brand.errors.required">Укажите корректный бренд</div>
                      </mat-error>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="orderNumber">
                  <mat-header-cell *matHeaderCellDef class="text-primary">
                    Номер заказа
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <input matInput #orderNumber="ngModel" name="orderNumber{{rowIdx}}" placeholder="номер ВЗ"
                             [(ngModel)]="delivery.orderNumber" required>
                      <mat-error *ngIf="orderNumber?.invalid">
                        <div *ngIf="orderNumber.errors.required">Укажите номер ВЗ</div>
                      </mat-error>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="deliveryType">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Тип поставки
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <mat-select [compareWith]="compareFn" matInput #deliveryType="ngModel" name="deliveryType{{rowIdx}}"
                                  placeholder="Время"
                                  [(ngModel)]="delivery.deliveryType" required>
                        <mat-option *ngFor="let deliveryType of allTypes"
                                    [value]="deliveryType">{{deliveryType.type}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="deliveryType?.invalid">
                        <div *ngIf="deliveryType.errors.required">Укажите корректный тип</div>
                      </mat-error>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="sender">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Поставщик
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>

                      <input matInput #sender="ngModel" name="sender{{rowIdx}}" placeholder="поставщик"
                             [(ngModel)]="delivery.sender" required>
                      <mat-error *ngIf="sender?.invalid">
                        <div *ngIf="sender.errors.required">Укажите номер ВЗ</div>
                      </mat-error>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="comment">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Комментарий
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <input matInput name="comment{{rowIdx}}" placeholder="поставщик"
                             [(ngModel)]="delivery.comment">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="shop">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Магазин
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <mat-select [compareWith]="compareFn" matInput #shop="ngModel" name="shop{{rowIdx}}"
                                  placeholder="Время"
                                  [(ngModel)]="delivery.shop" required>
                        <mat-option *ngFor="let shop of allShops" [value]="shop">{{shop.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="numberOfPlaces">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Кол-во мест
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <input matInput name="numberOfPlaces{{rowIdx}}" placeholder="кол-во мест"
                             [(ngModel)]="delivery.numberOfPlaces">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="torgNumber">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Торг-12
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <input matInput name="torgNumber{{rowIdx}}" placeholder="кол-во мест"
                             [(ngModel)]="delivery.torgNumber">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="invoice">
                  <mat-header-cell *matHeaderCellDef class=" text-primary">
                    Счет-фактура
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <input matInput name="invoice{{rowIdx}}" placeholder="счёт-фактура"
                             [(ngModel)]="delivery.invoice">
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="warehouse">
                  <mat-header-cell *matHeaderCellDef class="text-primary">
                    Склад
                  </mat-header-cell>
                  <mat-cell *matCellDef="let delivery; let rowIdx = index;">
                    <mat-form-field class="myCopyPasteField">
                      <mat-label></mat-label>
                      <mat-select [compareWith]="compareFn" matInput #warehouse="ngModel" name="warehouse{{rowIdx}}"
                                  placeholder="Склад"
                                  [(ngModel)]="delivery.warehouse" required>
                        <mat-option *ngFor="let warehouse of allWarehouses" [value]="warehouse">
                          {{warehouse.name}}</mat-option>
                      </mat-select>
                      <mat-error *ngIf="warehouse?.invalid">
                        <div *ngIf="warehouse.errors.required">Укажите корректный тип</div>
                      </mat-error>
                    </mat-form-field>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="pasteTableDisplayedColumns"></mat-header-row>
                <mat-row class="table-row" *matRowDef="let row; columns: pasteTableDisplayedColumns; let i = index;">
                </mat-row>
              </mat-table>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="copyPasteForm.invalid"
                  (click)="send(copyPasteForm);">
            Отправить
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
