
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Доставки</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  Дата
                </th>
                <th>
                  Время
                </th>
                <th>
                  Авто
                </th>
                <th>
                  Водитель
                </th>
                <th>
                  Бренд
                </th>
                <th>
                  Номер заказа
                </th>
                <th>
                  Тип доставки
                </th>
                <th>
                  Отправитель
                </th>
                <th>
                  Комментарий
                </th>
                <th>
                  Магазин
                </th>
                <th>
                  Кол-во мест
                </th>
               <th>
                  Торг
                </th>
                <th>
                  Счет-фактура
                </th>
                 </thead>
                <tbody>
                <tr *ngFor="let delivery of deliveries | async">
                  <td>{{delivery.id}}</td>
                  <td>{{delivery.deliveryDate}}</td>
                  <td>{{delivery.deliveryTime}}</td>
                  <td>{{delivery.carInfo}}</td>
                  <td>{{delivery.driverInfo}}</td>
                  <td>{{delivery.brand}}</td>
                  <td>{{delivery.orderNumber}}</td>
                  <td>{{delivery.deliveryType}}</td>
                  <td>{{delivery.sender}}</td>
                  <td>{{delivery.comment}}</td>
                  <td>{{delivery.shop}}</td>
                  <td>{{delivery.numberOfPlaces}}</td>
                  <td>{{delivery.torgNumber}}</td>
                  <td>{{delivery.invoice}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">

            <div class="card-header card-header-primary" (paste)="data($event)">
              <h4 class="card-title ">Нажмите левой кнопкой мыши на эту надпись и вставьте Вашу excel таблицу (ctrl + v)</h4>
            </div>

            <div class="card-body">
              <div class="table-responsive">

                <table mat-table [dataSource]="dataSource" class="table">
                  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                    <th class=" text-primary" contenteditable="false" mat-header-cell
                        *matHeaderCellDef><b>{{column}}</b>  </th>
                    <td contenteditable="false" mat-cell *matCellDef="let element"> {{element[column]}} </td>
                  </ng-container>
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <div style="text-align:center">
                  <button mat-flat-button color=”accent” (click)="sendDeliveriesEvent()" >
                    Подтвердить корректность данных и отправить</button>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
