<div class="content">
  <div class="container-fluid">
    <button mat-raised-button (click)="addBrand()" color="primary">Добавить бренд</button>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Бренды</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <mat-table [dataSource]="brands" class="mat-elevation-z8">
                <!-- Id Column -->
                <ng-container matColumnDef="No">
                  <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>

                <!-- Brand name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Наименование </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <!--Abbr Column -->
                <ng-container matColumnDef="abbr">
                  <mat-header-cell *matHeaderCellDef> Аббревиатура </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.abbr}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row (click)="editBrand(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="content">-->
<!--  <div class="container-fluid">-->
<!--    <div class="row">-->
<!--      <div class="col-md-12">-->
<!--        <div class="card">-->
<!--          <div class="card-header card-header-primary">-->
<!--            <h4 class="card-title ">Бренды</h4>-->
<!--          </div>-->
<!--          <div class="card-body">-->
<!--            <div class="table-responsive">-->
<!--              <table class="table">-->
<!--                <thead class=" text-primary">-->
<!--                <th>-->
<!--                  №-->
<!--                </th>-->
<!--                <th>-->
<!--                  Название-->
<!--                </th>-->
<!--                <th>-->
<!--                  Аббревиатура-->
<!--                </th>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr *ngFor="let brand of brands | async; let i = index">-->
<!--                  <td>{{i + 1}}</td>-->
<!--                  <td>{{brand.name}}</td>-->
<!--                  <td>{{brand.abbr}}</td>-->
<!--                 </tr>-->
<!--                </tbody>-->
<!--              </table>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

