<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Пользователи системы</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                <th>
                  №
                </th>
                <th>
                  Логин
                </th>
                <th>
                  Ф.И.О.
                </th>
                <th>
                  E-mail
                </th>
                <th>
                  Телефон
                </th>
                <th>
                  Бренды
                </th>
                <th>
                  Права в системе
                </th>
                <!--                <th></th>-->
                </thead>
                <tbody>
                <tr *ngFor="let user of users | async; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.fullName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.brands | json}}</td>
                  <td>{{user.roles | json}}</td>
                  <!--                  <td>-->
                  <!--                    <button mat-icon-button color="primary">-->
                  <!--                      <mat-icon>edit</mat-icon>-->
                  <!--                    </button>-->
                  <!--                    <button mat-icon-button type="button" color="warn">-->
                  <!--                      <mat-icon>delete</mat-icon>-->
                  <!--                    </button>-->
                  <!--                  </td>-->
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
