<mat-dialog-content [formGroup]="form">
<!--    <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>-->
    <span>Пожалуйста, задайте новый пароль: </span>
  <mat-form-field>
   <input matInput formControlName="passEdit1" type="password">
  </mat-form-field>

  <span>Повторите пароль: </span>
  <mat-form-field>
    <input matInput formControlName="passEdit2"  type="password">
  </mat-form-field>
  <mat-error *ngIf="form.controls['passEdit1'].value != form.controls['passEdit2'].value">Пароли не совпадают</mat-error>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="col-6 text-right align-self-top">
    <button [disabled]="form.invalid" mat-raised-button [mat-dialog-close]="form.controls['passEdit1'].value" color="primary">Ок</button>
  </div>
  <div class="col-6 text-left align-self-top">
    <button mat-raised-button id="no-button" [mat-dialog-close]="false">Отмена</button>
  </div>
</mat-dialog-actions>
