<h1 style="color: darkcyan">Warehouse Planning App</h1>

<nav>
  <a class="button" routerLink="/users" routerLinkActive="activebutton">Users</a> |
  <a class="button" routerLink="/brands" routerLinkActive="activebutton">Brands</a> |
  <a class="button" routerLink="/warehouses" routerLinkActive="activebutton">Warehouses</a> |
  <a class="button" routerLink="/landings" routerLinkActive="activebutton">Landings</a> |
  <a class="button" routerLink="/reports" routerLinkActive="activebutton">Reports</a>
</nav>

<router-outlet></router-outlet>
