/*.mat-sidenav, .mat-sidenav-content {*/
/*  padding: 8px;*/
/*}*/

.mat-sidenav {
  background-color: #fbf8ff;
  width: 260px;
  height: 100%;
  box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
  transition: width 0.4s;
}

.top-indent {
  margin-top: 48px;
}

.mat-sidenav-content {
  background-color: #e8e1e8;
  transition: margin 0.4s;
}

.mat-sidenav .profile-item {
  height: 70px !important;
}

.mat-sidenav .profile-item:after {
  content: '';
  position: absolute;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(83, 83, 83, 0.3);
}

.mat-sidenav .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #ffffff;
  line-height: 20px;
}

#sidenav.menu-opened {
  width: 260px;
}

#sidenav.menu-closed {
  width: 70px;
}

.mat-list-base {
  padding-top: 0;
}

.topnavbar {
  justify-content: space-between;
  z-index: 9999;
  position: fixed;
  border-bottom: 1px solid #01113f;
  width: 100%;
  background: linear-gradient(60deg, #2e134a, #592387);
  box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
  height: 48px;
  padding: 0;
}

span {
  padding-right: 1rem;
}

.mat-sidenav .mat-icon {
  color: #9b71ec;
}

.mat-icon:active {
  color: #ececec;
}

.mat-list-item {
  border-radius: 8px;
  height: 46px !important;
  margin: 6px 0;
}

.mat-list-item:hover {
  background: transparent;
  color: #752492;
  cursor: pointer;
}

.mat-list-item.active .mat-icon {
  background: linear-gradient(60deg, #7e4a8a, #752492);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
  color: #eaeaea;
}

.mat-list-item.active .mat-line {
  color: #752492;
  font-weight: bolder;
}

.mat-list-item  {
  color: #000000;
}

.mat-list-item:hover .mat-icon  {
  background-color: rgba(249, 164, 218, 0.15);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
}

.my-menu-button {
  -webkit-writing-mode: horizontal-tb !important;
  -webkit-appearance: button;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-style: solid;
  border-width: 1px;
  padding: 1px 7px 2px;
  text-rendering: auto;
  color: initial;
  display: block;
  text-align: start;
  margin: 0;
  font: 400 11px system-ui;
}

.my-sub-menu:hover {
  /*margin-left: 8px;*/
  background: linear-gradient(60deg, #756d75, #775087);
}
/*.my-menu-button:hover  {*/
/*  background: linear-gradient(60deg, #b68ec1, #752492);*/
/*  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);*/
/*  color: #eaeaea;*/
/*}*/


/*router-link-active {*/
/*  display: none;*/
/*}*/

/*router-link-active {*/
/*  pointer-events: none;*/
/*  cursor: default;*/
/*  opacity: 0.6;*/
/*}*/

