/*.demo-header {*/
/*  align-items: center;*/
/*  !*background: $brand;*!*/
/*  !*box-shadow: 0 0.1em 1.5em rgba($dark-grey, 0.5);*!*/
/*  !*color: $white;*!*/
/*  display: flex;*/
/*  padding: 1em;*/
/*}*/

/*.demo-header__toggle {*/
/*  background: transparent;*/
/*  !*border: 0.15rem solid $white;*!*/
/*  border-left: 0;*/
/*  border-right: 0;*/
/*  cursor: pointer;*/
/*  font-size: 0;*/
/*  height: 1.5rem;*/
/*  margin-right: 1rem;*/
/*  position: relative;*/
/*  width: 2rem;*/

/*}*/

.mat-sidenav, .mat-sidenav-content {
  padding: 8px;
}

.mat-sidenav {
  background-color: #fbf8ff;
  width: 260px;
  height: 100%;
  box-shadow: 0 0 20px 6px rgba(0, 0, 0, 0.4);
}

.mat-sidenav-content {
  background-color: #e8e1e8;
}

.mat-sidenav .logo .simple-text {
  text-transform: uppercase;
  padding: 5px 0px;
  display: inline-block;
  font-size: 18px;
  color: #583d42;
  white-space: nowrap;
  font-weight: 400;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  display: block;
  text-decoration: none;
}

.mat-sidenav .logo {
  padding: 15px 0px;
  margin: 0;
  display: block;
  position: relative;
}

.mat-sidenav .logo:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(83, 83, 83, 0.3);
}

.mat-sidenav .logo p {
  float: left;
  font-size: 20px;
  margin: 10px 10px;
  color: #ffffff;
  line-height: 20px;
}

.mat-list-item {
  border-radius: 8px;
  height: 46px !important;
  margin: 6px 0;
}

.mat-list-item:hover {
  background: rgba(160, 5, 181, .1);
  cursor: pointer;
}

.mat-list-base {
  padding-right: 16px;
  padding-left: 16px;
}

.topnavbar {
  justify-content: space-between;
  background-color: transparent !important;
  box-shadow: none;
  height: 32px;
  margin: 0 0 16px 0;
  padding: 0;
}

span {
  padding-right: 1rem;
}

.mat-sidenav .mat-icon {
  color: #9b71ec;
}

.mat-sidenav .mat-icon:active {
  color: #ececec;
}

.mat-sidenav .mat-list-item.active {
  background: linear-gradient(60deg, #7e4a8a, #752492);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
  color: #eaeaea;
}

/*router-link-active {*/
/*  display: none;*/
/*}*/

/*router-link-active {*/
/*  pointer-events: none;*/
/*  cursor: default;*/
/*  opacity: 0.6;*/
/*}*/

