<mat-sidenav-container style="height: 100%">

  <mat-sidenav *ngIf="_authService.loggedIn()" mode="side" [(opened)]="menuOpened">
    <div class="logo"><a href="#" class="simple-text">
      My Warehouse
    </a></div>
    <div>
      <mat-list>
        <mat-list-item *ngIf="_authService.isRouteEnabled('users')" routerLink="/users" routerLinkActive="active">
          <mat-icon matListIcon>groups</mat-icon>
          <h3 matLine>Пользователи</h3>
        </mat-list-item>
        <mat-list-item *ngIf="_authService.isRouteEnabled('brands')" routerLink="/brands" routerLinkActive="active">
          <mat-icon matListIcon>style</mat-icon>
          <h3 matLine>Бренды</h3>
        </mat-list-item>
        <mat-list-item *ngIf="_authService.isRouteEnabled('shops')" routerLink="/shops" routerLinkActive="active">
          <mat-icon matListIcon>storefront</mat-icon>
          <h3 matLine>Магазины</h3>
        </mat-list-item>
        <mat-list-item *ngIf="_authService.isRouteEnabled('warehouses')" routerLink="/warehouses" routerLinkActive="active">
          <mat-icon matListIcon>store</mat-icon>
          <h3 matLine>Склады</h3>
        </mat-list-item>
        <mat-list-item *ngIf="_authService.isRouteEnabled('deliveries')" routerLink="/deliveries" routerLinkActive="active">
          <mat-icon matListIcon>local_shipping</mat-icon>
          <h3 matLine>График поставок</h3>
        </mat-list-item>
        <mat-list-item *ngIf="_authService.isRouteEnabled('reports')" routerLink="/reports" routerLinkActive="active">
          <mat-icon matListIcon>content_paste</mat-icon>
          <h3 matLine>Отчеты</h3>
        </mat-list-item>
        <mat-list-item *ngIf="_authService.isRouteEnabled('profile')" routerLink="/profile" routerLinkActive="active">
          <mat-icon matListIcon>person</mat-icon>
          <h3 matLine>Мой профиль</h3>
        </mat-list-item>
        <mat-list-item routerLink="/login" routerLinkActive="active">
          <mat-icon matListIcon>person</mat-icon>
          <h3 matLine>Выход</h3>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-sidenav>

  <!--  основной контент-->
  <!--  ng-sidebar-content - над чем будет открываться слайд-меню-->
  <mat-sidenav-content>
    <mat-toolbar *ngIf="_authService.loggedIn()" class="topnavbar">
      <div class="col-8 text-left align-self-top">
        <button mat-icon-button disableRipple type="button" (click)="menuOpened=!menuOpened">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <!--  помощь, настройки-->
      <div class="col-4 text-right align-self-top">
        <button mat-icon-button class="header-icon">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button class="header-icon">
          <mat-icon>help</mat-icon>
        </button>
      </div>
    </mat-toolbar>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>


