/* You can add global styles to this file, and also import other style files */
@import "assets/css/material-dashboard.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-row:hover {
  background: #bea5c1; /* Цвет фона при наведении */
  cursor: pointer;
}

.hide {
  display: none;
}

/* mat-table */
mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.mat-header-cell {
  color: #4d0744 !important;
  font-size: 1rem !important;
}

.mat-cell {
  font-size: 0.9rem !important;
}

.card {
  font-size: .8rem !important;
  line-height: 1em;
}

.card-body {
  padding-top: 0.375rem;
}

.card-header-primary {
  padding: 8px 16px !important;
}

.controls-container {
  width: 100%;
  padding: 5%;
}

.controls-container > * {
  width: 100%;
}


/* filter controls */
.search-div {
  margin: 10px;
}

.search-form-field {
  width: 40%;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}

/*-------------- Snackbar start --------------*/
.green-snackbar {
  align-self: center;
  background: rgb(95, 183, 41);
  color: white;
}

.red-snackbar {
  align-self: center;
  background: #F44336;
  color: white;
}

/*-------------- Snackbar end --------------*/
